*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Nunito', sans-serif;
  color: #384047;
}


.title-wrapper{
  max-width: 600px;
  margin: 90px 0 0 700px;
  padding: 10px;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}
.title-wrapper p{
  padding: 20px;
}


.about-us{
  text-align: justify;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.form-logsin {
  color: #fff;
  max-width: 600px;
  margin: 90px 0 0 700px;
  padding: 10px 20px;
  /* background: #f4f7f8; */
  border-radius: 8px;
}
label{
    text-align: center;
}

a {
  text-decoration: none;
  color: #4bc970;
}

h1,h4 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 20px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #e8eeef;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"]{
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.error{
  color: red;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper{
    margin: 0 100px 0 400px;
    width: 900px;
    float: left;
}

.table-wrapper{
    width: 400px;
    margin:0 auto;
}

.table-user{
    width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

.table-user td{
    padding: 10px 0 10px 0;
    text-align: center;
}

.user-pic{

    border-radius: 50%;
	width: 172px;
	height: 172px;
	background: url(../res/user_image.jpg) no-repeat 50% 40%;
    display:inline-block;
}



/* .user-info{
    margin: 0 0 0 100px;
    width: 40%;
    float: left;
    display:inline-block;
}


table, td, th {
    color: #384047;
    border-radius: 8px;
    background-color: #f4f7f8;
	font-weight: bold;
	font-family: 'Arial';
	font-size: 20px;
	/* border: 1px solid black;
	padding: 10px 10px 10px 60px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

th {
    height: 50px;
} 
*/




.prediction-form-wrapper{
  margin: 90px 150px 50px 150px;
}

.prediction-form{
  /* overflow: auto; */
  margin: 0px 100px 30px 100px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

.tab {
  height: 200px;
  text-align: center;
  display: none;
}
.tab p{
  font-size: 30px;
  text-align: center;
  margin: 10px 20px 30px 20px;
}
.tab input[type="text"]{
  text-align: center;
  width: 100px;
}

.tab input[type="radio"],input[type="checkbox"] {
  margin: 10px 10px 8px 40px;
}

.tab input.invalid {
  background-color: #ffdddd;
}


.nav-buttons-wrapper{
margin: 40px auto;
}

#prevBtn, #nextBtn{
  padding: 0 0 0 0 ;
  text-align: center;
  font-size: 20px;
  width: 100px;
  height: 40px;
}
#nextBtn{
  float: right;
}


/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

input[type='radio']:after {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  top: -6px;
  left: -6px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  top: -6px;
  left: -6px;
  position: relative;
  background-color: #4CAF50;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.dropDown-wrapper{
  position: relative;
  /* following 3 lines is for codepen presentation only*/
  margin: auto;
  height: 42px;
  width: 150px;
}

/* the style for the label */
.dropDown-toggle-label {
  width: 150px;
  position: relative;
  padding: 14px 30px 14px 25px;
  background-color: #474e5d;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 12px;
  transition: opacity .2s ease;
  letter-spacing: .2px;
  /* force parent to wrap around the label tag */
  float: left;
}

.dropDown-toggle-label:active {
  transform: scale(.98);
}

/* arrow indicator on the button */
.dropDown-toggle-label:after{
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  /* this makes the square appear as a white triangle */
  background: linear-gradient(45deg, #fff 50%, transparent 0);
  position: absolute;
  right: 15px;
  top: 35%;
  transform: rotate(-45deg);
}

/* hide all input fields since the labels are connected to them by the id */
.dropDown-wrapper input{display: none;}

/* rotate the button arrow upwards */
.dropDown-wrapper > input:checked + label:after{
  top: 45%;
  transform: rotate(135deg);
}

/* this will show dropDown when input is checked */
.dropDown-wrapper > input:checked + label + .dropDown{
  display: inline-block;
}

/* the drop-down style*/
.dropDown{
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  border-radius: 4px 0 4px 4px;
  min-width: 150px;
  display: none;
}

/* the drop-down options style*/
.dropDown label {
  display: block;
  padding: 12px 20px;
  border-left: 0 solid transparent;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  opacity: .8;
  transition:
          border .3s ease,
          padding-left .3s ease,
          background-color .3s ease;
}

/* option item on hover */
.dropDown label:hover{
  border-left: 10px solid  #4CAF50;
  background-color: #474e5d;
  opacity: .9;
  font-weight: 700;
 
}

/* this shows that the list item was selected */
.dropDown input:checked + label{
  font-weight: 700;
  opacity: 1;
  background-color: #474e5d;
  opacity: 0.5;
}

/* option.html */


.option-wrapper {
  color: #fff;
  max-width: 600px;
  margin: 180px 0 0 700px;
  padding: 10px 20px;
  /* background: #f4f7f8; */
  border-radius: 8px;
}

.option-table{
  padding: 40 0 0 0px;
  width: 100%;
}

.option-table tr{
  padding: 25px 0 0px 0;
  margin: 0 0 100px 0;
}

.option-table button{
  font-size: 25px;
}