<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Heart Disease Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
        <div style="text-align:center;margin-top:40px;">
                <span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span>
        </div>
    <div class="prediction-form-wrapper">
        <form class="prediction-form" action="">
            <div class="tab">
                <p>Sex ? </p>
                <input type="radio" name="gender" value="1" oninput="this.className = ''">Male
                <input type="radio" name="gender" value="0" oninput="this.className = ''">Female
                </div>    
            <div class="tab">
                    <p>What is Your Present Age ? </p>
                    <input type="text" id="Age" name="age" value="" oninput="this.className='' ">
                </div>
                
                <div class="tab">
                    <p>Chest Pain Type ? </p>
                    <input type="radio" name="gender" value="1" oninput="this.className = ''">Male
                    <input type="radio" name="gender" value="0" oninput="this.className = ''">Female
                    </div>
                <div class="nav-buttons-wrapper">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
        </form>
     </div>
    <script type="text/javascript" src="../js/form_tab.js"></script>
</body>
</html>
