<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/home.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../js/home.js"></script>
    </head>
  <body>
    <div id ="UserDetails">
        <center>
            <div id = "greeting">Hello!</div>
            <div id = "user_detail_name"></div>
            <div id = "user_count"></div>
            <div id = "user_detail_username">&nbsp;</div>
            <button id="option">option</button>
            <button id="logout">logout</button>
        </center>
    </div>
    <div id="homeContainer">
        <ul id="mainul">
        </ul>
    </div>  
  </body>
</html>
