<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Disease Predictor</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/style.css" />
	<script>
		$(document).ready(function(){
		token = localStorage.getItem("token")
		if(!token){
			window.location = "login.html"
		}
})
	</script>
</head>

<body style="  background-image: url('../res/heart.jpg'); background-repeat: no-repeat;background-attachment: fixed; background-position: left; ">
	<div class="option-wrapper" action="login.php" method="post">
			<h1>Choose an option</h1> 
	  <table cellspacing="20" class="option-table">
					<tr><td><h1><a href="form.html"><button>Heat Disease Risk Prediction</button></a></h1></td> </tr>
					<tr><td><h1><a href="home.html"><button>Profile Page</button></a></h1></td> </tr>
          
      </table>
    </div> 
  </body>
</html>